@{
    ViewData["Title"] = "Выбор уровня";
}
<article class="d-flex flex-column">
    <div class="d-flex flex-row flex-wrap justify-content-center align-self-center mt-5" style="max-width: 900px">
        <a asp-controller="Home" asp-action="LevelMenu" class="m-3 p-3 shadow-xl text-dark" style="min-width: 250px; outline: none; text-decoration: none">
            <h1 class="m-0 p-0" style="font-size: 7em; font-weight: 500">1<span style="font-size: 20px; font-weight: 200">ЧАСТЬ</span></h1>
            <hr class="m-2 p-0 border-dark" />
            <h6 class="m-2 p-0 ul-jurisprudence">Виды правил</h6>
            <h6 class="m-2 ul-gammer p-0 ul-gammer">Корень слова</h6>
            <h6 class="m-2 ul-history p-0 ul-history">Истории</h6>
        </a>
        <a class="m-3 p-3 shadow-xl text-dark" style="min-width: 250px; outline: none; text-decoration: none">
            <h1 class="m-0 p-0" style="font-size: 7em; font-weight: 500">2<span style="font-size: 20px; font-weight: 200">ЧАСТЬ</span></h1>
            <hr class="m-2 p-0 border-dark" />
            <div class="d-flex flex-column justify-content-end">
                <img src="/img/lock.png" style="width: 3em" class="m-1" />
            </div>
        </a>
        <a class="m-3 p-3 shadow-xl text-dark" style="min-width: 250px; outline: none; text-decoration: none">
            <h1 class="m-0 p-0" style="font-size: 7em; font-weight: 500">3<span style="font-size: 20px; font-weight: 200">ЧАСТЬ</span></h1>
            <hr class="m-2 p-0 border-dark" />
            <div class="d-flex flex-column justify-content-end">
                <img src="/img/lock.png" style="width: 3em" class="m-1" />
            </div>
        </a>
        <a class="m-3 p-3 shadow-xl text-dark" style="min-width: 250px; outline: none; text-decoration: none">
            <h1 class="m-0 p-0" style="font-size: 7em; font-weight: 500">4<span style="font-size: 20px; font-weight: 200">ЧАСТЬ</span></h1>
            <hr class="m-2 p-0 border-dark" />
            <div class="d-flex flex-column justify-content-end">
                <img src="/img/lock.png" style="width: 3em" class="m-1" />
            </div>
        </a>
        <a class="m-3 p-3 shadow-xl text-dark" style="min-width: 250px; outline: none; text-decoration: none">
            <h1 class="m-0 p-0" style="font-size: 7em; font-weight: 500">5<span style="font-size: 20px; font-weight: 200">ЧАСТЬ</span></h1>
            <hr class="m-2 p-0 border-dark" />
            <div class="d-flex flex-column justify-content-end">
                <img src="/img/lock.png" style="width: 3em" class="m-1" />
            </div>
        </a>
    </div>
    </article>
    <script src="/lib/jquery/dist/jquery-3.5.1.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/draggabilly/draggabilly.pkgd.min.js"></script>
    <script src="/js/script.js"></script>
