<article>
    <div class="d-flex flex-column m-5 align-items-center justify-content-center">
        <a  asp-controller="Home" asp-action="Article" asp-route-id="1" class="d-inline-flex flex-column border-w-3  align-items-center  p-0 btn btn-outline-warning p-3 w-px-150">
            <img src="/img/img_jurisprudence.png" class=" " width="100" />
            <small class="text-dark">Виды намазов</small>
        </a>
        <div class="h-2em border-left border-warning border-w-3"></div>
        <a asp-controller="Home" asp-action="Article" asp-route-id="0" class="d-inline-flex flex-column border-w-3  align-items-center  p-0 btn btn-outline-warning p-3 w-px-150 ">
            <img src="/img/img_grammer.png" class=" " width="100" />
            <small class="text-dark">Корень слова</small>
        </a>
        <div class="h-2em border-left border-warning border-w-3"></div>
        <a asp-controller="Home" asp-action="Article" asp-route-id="2" class="d-inline-flex border-w-3 flex-column align-items-center p-0 btn btn-outline-warning p-3 w-px-150">
            <img src="/img/img_history.png" class=" " width="100" />
            <small class="text-dark">Хиджра в истории ислама</small>
        </a>

        <div class="h-2em border-left border-warning border-w-3"></div>
        <a href="/html/test.html" class="rounded-circle p-5 btn btn-outline-warning border-w-3"><img src="/img/test.png" width="100" /></a>
    </div>
</article>
<script src="/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/draggabilly/draggabilly.pkgd.min.js"></script>
<script src="/js/script.js"></script>
